*{
    margin: 0px;
    padding: 0px;
}


#LoginMainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: auto;
}

.container {
    font-family: Arial, sans-serif;
    background-color: rgb(230, 174, 174);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 300px;
    text-align: center;
  }
  h2{
    margin-bottom: 20px;
  }
  input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    /* background-color: #007bff; */
    background-color: #b35100;

    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
    /* background-color: #b35100; */

  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  